body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      -1deg,
      rgba(190, 221, 133, 0.6),
      rgba(231, 246, 203, 0.9),
      rgba(190, 221, 133, 0.6)
    ),
    url(./pics/noisy.jpg);
  background-size: cover;
  margin: 0 auto;
  overflow-x: hidden;
}

.navbar-toggler-icon {
  padding-top: 0.2vw !important;
  padding-bottom: 0.2vw !important;
}

.navbar-toggler {
  padding-top: 0.2vw !important;
  padding-bottom: 0.2vw !important;
}

#main-header {
  margin-top: -1%;
  font-family: Monoton, cursive;
  margin-left: 5%;
  margin-top: 2%;
  font-size: 3.8vw;
  color: rgb(103, 106, 110);
}

.navbar-brand {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.nav-item:hover {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.nav-link.active {
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.h1 {
  font-family: Titan One, cursive;
  padding-left: 2%;
  object-fit: contain;
  display: flex;
}

.animate-character {
  background-image: linear-gradient(
    -225deg,
    #fff800 0%,
    #be0000 33%,
    #f68c22 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
  font-size: 50px;
  text-align: center;
  font-family: Monoton, cursive;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("./pics/green.jpg");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

#home-content {
  padding-left: 5%;
  position: relative;
  clear: both;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-right: 1%;
  align-items: center;
  gap: 1rem;
}

.portrait {
  transform: rotate(-3deg);
  background-position: cover;
  object-fit: contain;
  display: flex;
  align-items: center;
  height: 75%;
  width: 75%;
  filter: blur(0.2px) sepia(55%);
  margin-left: 8%;
  margin-top: 10%;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-image: url("./pics/about-me.png");
  padding-bottom: 4vh;
  position: relative;
}

.about-me a {
  color: #e06666;
  position: relative;
  text-decoration: none;
}

.about-me a:visited {
  color: rgb(176, 110, 158);
}

/* anchor effect */
.about-me a::before {
  background: hsl(45, 88%, 73%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.about-me a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* las siguientes 3 reglas controlan el escalamiento del iframe pero entran en conflicto con el marco art déco definido en #portrait */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

.projects-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.projects-description a {
  color: #e06666;
  position: relative;
  text-decoration: none;
}

.projects-description a:visited {
  color: rgb(176, 110, 158);
}

/* anchor effect */
.projects-description a::before {
  background: hsl(45, 88%, 73%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.projects-description a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* hover effect on cards */
.p-3:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.col a {
  color: rgb(127, 137, 126);
}

.col a:visited {
  color: rgb(204, 154, 191);
}

footer {
  margin-top: 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  gap: 1%;
  justify-content: center;
  padding-bottom: 0.3%;
  background-color: rgb(255, 255, 255, 0.4);
  color: rgb(86, 87, 88);
  font-family: Dosis, sans-serif;
  font-size: 0.9vw;
}

.fa {
  font-size: 0.8vw;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.a-footer {
  color: rgb(86, 87, 88);
}

.a-footer:visited {
  color: rgb(204, 154, 191);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 0;
  top: -5px;
  left: 105%;
}
